a {
	color: #5d93ff;
}

a:hover,
a:focus {
	color: #f7a046;
}

.wrapper {
	lost-center: 1070px;
}
.content {
	lost-column: 2/3;
}
.main-inner {
	padding: 40px 35px;
}
.primary, .primary-text {
	color: #009688;
}
.light-primary, .light-primary-text{
	color: #B2DFDB;
}
.warning, .warning-text{
	color: #FF9800;
}
.danger, .text-danger{
	color: #e51c23;
}
.info, .info-text{
	color: #e51c23
}
.update-text{
	font-style: italic;
}

@media screen and (max-width:1100px) {
	.content {
		lost-column: 2/4;
	}
	.main-inner {
		padding: 35px 20px;
	}
}
@media screen and (max-width:900px) {
	.content {
		lost-column: 7/12;
	}
	.main-inner {
		padding: 30px 20px;
	}
}
@media screen and (max-width:500px) {
	.content {
		lost-column: 4/4;
	}
	.main-inner {
		padding: 25px 20px;
	}
}
